<menu>
	<food_item>
		<name>casserole</name>
		<cuisine>American</cuisine>
		<nutritional_value>
			<calories>2000 val</calories>
			<picture>img.jpeg</picture>
		</nutritional_value>
		<ingredients>8 ounces bulk breakfast sausage, crumbled 1 medium onion, chopped 1 medium green bell pepper, chopped 6 eggs, 1 cup milk, 1 tablespoon McCormick® Oregano Leaves,
			1/2 teaspoon salt, 1/4 teaspoon McCormick® Coarse Ground Black Pepper, 1 1/2 cups shredded mozzarella cheese, 1 cup crumbled feta cheese, 2 plum tomatoes, seeded and chopped, 1 tablespoon oil, 1 package (20 ounces) refrigerated shredded hash browns</ingredients>
	</food_item>
	<food_item>
		<name>Pork dumplings</name>
		<cuisine>Chinese</cuisine>
		<nutritional_value>
			<calories>2000 val</calories>
			<picture>img.jpeg</picture>
		</nutritional_value>
		<ingredients>8 ounces bulk breakfast sausage, crumbled 1 medium onion, chopped 1 medium green bell pepper, chopped 6 eggs, 1 cup milk, 1 tablespoon McCormick® Oregano Leaves,
			1/2 teaspoon salt, 1/4 teaspoon McCormick® Coarse Ground Black Pepper, 1 1/2 cups shredded mozzarella cheese, 1 cup crumbled feta cheese, 2 plum tomatoes, seeded and chopped, 1 tablespoon oil, 1 package (20 ounces) refrigerated shredded hash browns</ingredients>
	</food_item>
	<food_item>
		<name>Seafood spaghetti</name>
		<cuisine>Italian</cuisine>
		<nutritional_value>
			<calories>2000 val</calories>
			<picture>img.jpeg</picture>
		</nutritional_value>
		<ingredients>8 ounces bulk breakfast sausage, crumbled 1 medium onion, chopped 1 medium green bell pepper, chopped 6 eggs, 1 cup milk, 1 tablespoon McCormick® Oregano Leaves,
			1/2 teaspoon salt, 1/4 teaspoon McCormick® Coarse Ground Black Pepper, 1 1/2 cups shredded mozzarella cheese, 1 cup crumbled feta cheese, 2 plum tomatoes, seeded and chopped, 1 tablespoon oil, 1 package (20 ounces) refrigerated shredded hash browns</ingredients>
	</food_item>
</menu>
